@model ServiceHost.ViewModels.Product.ProductViewModel

@inject IProductService _productService
@inject IBasketService _basketService
@{
	string imagePath = await _productService.GetProductImageUri(Model.ImagePath);
}
@functions {
	public async Task AddToCart()
    {
        string userName = "a";
        var basket = await _basketService.GetBasket(userName);

        basket.Items.Add(new ViewModels.Basket.BasketItemViewModel
        {
            ProductId = Model.Id,
            ProductTitle = Model.Title,
            Price = Model.Price,
            Quantity = 1
        });

        await _basketService.UpdateBasket(basket);
    }
}

<div class="single-product">
	<a asp-page="ProductDetail" asp-route-productId="@Model.Id"> 
		<img class="img-fluid" src="@imagePath" alt="@Model.Title">
	</a>
	<div class="product-details">
		<a asp-page="ProductDetail" asp-route-productId="@Model.Id">
			<h6>@Model.Title</h6>
		</a>
		<div class="price">
			<h6>@Model.Price</h6>
		</div>
		<div class="prd-bottom">
				<a href="javascript:;" onclick="@AddToCart" class="social-info">
					<span class="la la-shopping-cart"></span>
					<p class="hover-text">Add to Cart</p>
				</a>
		</div>
	</div>
</div>